
<header class="header">
    <div class="logo">Pure Pictures & Bridal</div>
    <div class="menu-toggle" id="menu-toggle">
    ☰ 
</div>

  <nav class="nav" id="nav-menu">
        <a href="/pure-pictures-website/index.php">Home</a>
        <a href="/pure-pictures-website/pages/packages.php">Packages</a>
        <a href="/pure-pictures-website/pages/locations.html">Locations</a>
        <a href="/pure-pictures-website/pages/portfolio.html">Portfolio</a>
        <a href="/pure-pictures-website/pages/studio.html">Studio</a>
        <a href="/pure-pictures-website/pages/about.html">About</a>
        <a href="/pure-pictures-website/pages/contact.html">Contact</a>
    </nav>

    <a href="/pure-pictures-website/pages/booking.php" class="btn">Book Now</a>
</header>
